{% extends 'Faculty/Sidebar.html' %}
{% load static %}
{% block title %}Batches{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/Faculty/Batches.css' %}">
{% endblock %}
{% block batches_active %}active{% endblock %}
{% block content %}


<div class="main-card">

<div class="container-grid">
    <h2>List of  Batches</h2>
    <div class="grid-container" id="applied-jobs">
        {% for batch in batches %}
            <div class="job-card">
                <div class="job-details">
                    <strong>Batch : </strong>{{batch.name}}<br>
                    <strong>Course : </strong>{{batch.course}}<br>
                    <strong>Timing : </strong>{{batch.timing}}<br>
                    <strong>Start date : </strong>{{batch.start_date}}<br>
                    <strong>End date : </strong> {{batch.end_date}}
                </div>
                <a href="{% url 'Batch_Students_List' batch.id %}"><button class="view-job-button">View Students</button></a>
            </div>    
        {% endfor %}                                                                                                                                                        </div>

</div>


{%endblock %}