{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Sidebar{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  <!-- Favicons -->
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
 
  <!-- Template Main CSS File -->
  <link href="{% static 'css/Admin/Sidebar.css' %}" rel="stylesheet">
  {% block style %}
  {% endblock %}
 
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        {% if request.user.user_type == '1' %}
        {% if request.user.profile_pic %}
            <img src="{{ request.user.profile_pic.url }}" alt="{{ user.first_name }}" class="img-fluid rounded-circle">
        {% else %}
            <img src="{% static 'images/profile.png' %}" alt="Default Profile Image" class="img-fluid rounded-circle">
        {% endif %}
        {% if user.first_name %}
            <h1 class="text-light"><a href="{% url 'Admin_Update_Profile' %}">{{ user.first_name }}</a></h1>
        {% else %}
            <h1 class="text-light"><a href="{% url 'Admin_Update_Profile' %}">Admin</a></h1>
        {% endif %}
    {% endif %}
    
        

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="{% url 'Admin_Home' %}" class="nav-link scrollto {% block home_active %}{% endblock %}"><i class="bi bi-house-door-fill"></i> <span>Home</span></a></li>
        <li><a href="{% url 'Courses' %}" class="nav-link scrollto {% block cources_active %}{% endblock %}"><i class="bi bi-journal-text"></i> <span>Courses</span></a></li>
        <li><a href="{% url 'Batches' %}" class="nav-link scrollto {% block batches_active %}{% endblock %}"><i class="bi bi-clipboard-check"></i> <span>Batches </span></a></li>
        <li><a href="{% url 'Manage_Faculty' %}" class="nav-link scrollto {% block faculties_active %}{% endblock %} "><i class= "bi-person-lines-fill "></i> <span>Faculties </span></a></li>
        <li><a href="{% url 'Students' %}" class="nav-link scrollto {% block students_active %}{% endblock %}"><i class="bi bi-people"></i> <span>Students</span></a></li>
        <li><a href="{% url 'Admin_Select_Attendance' %}" class="nav-link scrollto {% block attendance_active %}{% endblock %} "><i class= "bi-calendar-check "></i> <span>Attendance </span></a></li>
        <li><a href="{% url 'Assessments' %}" class="nav-link scrollto {% block assessment_active %}{% endblock %} "><i class= "bi bi-hourglass"></i> <span>Assessments </span></a></li>    
        <li><a href="{% url 'signout' %}" class="nav-link scrollto"><i class="bi bi-box-arrow-right"></i> <span>Logout</span></a></li>

      </ul>
    </nav>
    </div>
  </header><!-- End Header -->
{% block content %}




{% endblock %}
  


    
  
<script src="{% static 'javascript/Admin/Sidebar.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</body>

</html>