{% extends 'Admin/Sidebar.html' %}

{% load static %}
{% block title %}Update{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/Admin/Form.css' %}">
{% endblock %}


{% block batches_active %}active{% endblock %}

{% block content %}


    
    
<div class="form-container">

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-dark">Update</button>
    </form>
  
    {% if messages %}
      
        {% for message in messages %}
          <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
      
    {% endif %}

  </div>
{% endblock %}